.App {
  text-align: center;
}
.card{
  position: relative;
  width:300px;
  margin: 20% auto;
  padding: 5px;
  display: block;
  border: solid thin #aaa;
  border-radius: 5px;
  background-color: #efefef;
}
.card .header{
  position: relative;
  right:0px;
  left:0px;
  top: 0px;
  border: none;
  border-bottom: solid thin #aaa;
  padding: 10px;
  margin: 15px auto;
  text-align: center;
  display:grid;
}
.month-title{
  width:80%;
}
.arrow{
  display: block;
  position: absolute;
  font-size: 28px;
  cursor: pointer;
  outline: none;
  width: 10%;
}
.arrow-left{
  left:2px;
}
.arrow-right{
  right:2px;
}
.row{
  width:100%;
  left:5px;
  right:5px;
  display:inline-flex;
}
.cell{
  width: 14%;
  margin: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  vertical-align: middle;
}
.date{
    border: solid 1px #ddd;
    color: #ffffff;
}

.date{
    cursor: pointer;
    outline: none;
}
.date:not(.past):hover{
    background-color: #FF0000;
    border: solid 1px #FF0000;
    color: #ffffff;
}
.cell.date.active{
    background-color: #FF0000;
    border: solid 1px #FF0000;
    color: #fff;
}
